# Database Admin 101 - Lab

## Introduction 

In this lab, you'll go through the process of designing and creating a database. From there, you'll begin to populate this table with mock data provided to you.

## Objectives

You will be able to:

* Use knowledge of the structure of databases to create a database and populate it

## The Scenario

You are looking to design a database for a school that will house various information from student grades to contact information, class roster lists and attendance. First, think of how you would design such a database. What tables would you include? What columns would each table have? What would be the primary means to join said tables?

## Creating the Database

Now that you've put a little thought into how you might design your database, it's time to go ahead and create it! Start by import the necessary packages. Then, create a database called **school.sqlite**.

In [1]:
import sqlite3

In [2]:
ls -lath

total 104
drwxr-xr-x  12 DAILYSPARK  staff   384B Dec  6 12:19 ./
-rw-r--r--   1 DAILYSPARK  staff   7.9K Dec  6 12:19 index.ipynb
-rw-r--r--   1 DAILYSPARK  staff    20K Dec  6 12:18 school.sqlite
drwxr-xr-x   3 DAILYSPARK  staff    96B Dec  6 12:10 .ipynb_checkpoints/
drwxr-xr-x  13 DAILYSPARK  staff   416B Dec  5 01:50 .git/
-rw-r--r--   1 DAILYSPARK  staff   1.2K Dec  5 01:50 contact_list.pickle
-rw-r--r--   1 DAILYSPARK  staff   3.6K Dec  5 01:50 README.md
-rw-r--r--   1 DAILYSPARK  staff   1.3K Dec  5 01:50 LICENSE.md
-rw-r--r--   1 DAILYSPARK  staff   1.8K Dec  5 01:50 CONTRIBUTING.md
-rw-r--r--   1 DAILYSPARK  staff    86B Dec  5 01:50 .learn
-rw-r--r--   1 DAILYSPARK  staff    64B Dec  5 01:50 .gitignore
drwxr-xr-x  10 DAILYSPARK  staff   320B Dec  5 01:50 ../

In [3]:
conn = sqlite3.connect('school.sqlite')
cur = conn.cursor()

## Create a Table for Contact Information

Create a table called contactInfo to house contact information for both students and staff. Be sure to include columns for first name, last name, role (student/staff), telephone number, street, city, state, and zipcode. Be sure to also create a primary key for the table.

In [54]:
cur.execute("""CREATE TABLE contactInfo2 (
                                id INTEGER PRIMARY KEY,
                                fname TEXT,
                                lname TEXT,
                                role TEXT,
                                phone TEXT,
                                street TEXT,
                                city TEXT,
                                state TEXT,
                                zip TEXT );
            """)

OperationalError: table contactInfo2 already exists

## Populate the Table

Below, code is provided for you in order to load a list of dictionaries. Briefly examine the list. Each dictionary in the list will serve as an entry for your contact info table. Once you've briefly investigated the structure of this data, write a for loop to iterate through the list and create an entry in your table for each person's contact info.

In [11]:
# Code to load the list of dictionaries; just run this cell
import pickle

with open('contact_list.pickle', 'rb') as f:
    contacts = pickle.load(f)

In [17]:
contacts

[{'firstName': 'Christine',
  'lastName': 'Holden',
  'role': 'staff',
  'telephone ': 2035687697,
  'street': '1672 Whitman Court',
  'city': 'Stamford',
  'state': 'CT',
  'zipcode ': '06995'},
 {'firstName': 'Christopher',
  'lastName': 'Warren',
  'role': 'student',
  'telephone ': 2175150957,
  'street': '1935 University Hill Road',
  'city': 'Champaign',
  'state': 'IL',
  'zipcode ': '61938'},
 {'firstName': 'Linda',
  'lastName': 'Jacobson',
  'role': 'staff',
  'telephone ': 4049446441,
  'street': '479 Musgrave Street',
  'city': 'Atlanta',
  'state': 'GA',
  'zipcode ': '30303'},
 {'firstName': 'Andrew',
  'lastName': 'Stepp',
  'role': 'student',
  'telephone ': 7866419252,
  'street': '2981 Lamberts Branch Road',
  'city': 'Hialeah',
  'state': 'Fl',
  'zipcode ': '33012'},
 {'firstName': 'Jane',
  'lastName': 'Evans',
  'role': 'student',
  'telephone ': 3259909290,
  'street': '1461 Briarhill Lane',
  'city': 'Abilene',
  'state': 'TX',
  'zipcode ': '79602'},
 {'firstName': 'Jane',
  'lastName': 'Evans',
  'role': 'student',
  'telephone ': 3259909290,
  'street': '1461 Briarhill Lane',
  'city': 'Abilene',
  'state': 'TX',
  'zipcode ': '79602'},
 {'firstName': 'Mary',
  'lastName': 'Raines',
  'role': 'student',
  'telephone ': 9075772295,
  'street': '3975 Jerry Toth Drive',
  'city': 'Ninilchik',
  'state': 'AK',
  'zipcode ': '99639'},
 {'firstName': 'Ed',
  'lastName': 'Lyman',
  'role': 'student',
  'telephone ': 5179695576,
  'street': '3478 Be Sreet',
  'city': 'Lansing',
  'state': 'MI',
  'zipcode ': '48933'}]

In [52]:
# Your code to iterate over the contact list and populate the contactInfo table here
i = 0
for c in contacts:
    q = ('''INSERT INTO contactInfo2 (id, fname, lname, role, phone, street, city, state, zip)
           VALUES (''' + str(i) + ', "' + c['firstName'] + '", "' + c['lastName'] + '", "' + c['role'] + '", "' + 
           str(c['telephone ']) + '", "' + c['street'] + '", "' + c['city'] + '", "' + c['state'] + '", "' + 
           str (c['zipcode ']) + '");')
    display(q)
    cur.execute(q).fetchall()
    i += 1

'INSERT INTO contactInfo2 (id, fname, lname, role, phone, street, city, state, zip)\n           VALUES (0, "Christine", "Holden", "staff", "2035687697", "1672 Whitman Court", "Stamford", "CT", "06995");'

'INSERT INTO contactInfo2 (id, fname, lname, role, phone, street, city, state, zip)\n           VALUES (1, "Christopher", "Warren", "student", "2175150957", "1935 University Hill Road", "Champaign", "IL", "61938");'

'INSERT INTO contactInfo2 (id, fname, lname, role, phone, street, city, state, zip)\n           VALUES (2, "Linda", "Jacobson", "staff", "4049446441", "479 Musgrave Street", "Atlanta", "GA", "30303");'

'INSERT INTO contactInfo2 (id, fname, lname, role, phone, street, city, state, zip)\n           VALUES (3, "Andrew", "Stepp", "student", "7866419252", "2981 Lamberts Branch Road", "Hialeah", "Fl", "33012");'

'INSERT INTO contactInfo2 (id, fname, lname, role, phone, street, city, state, zip)\n           VALUES (4, "Jane", "Evans", "student", "3259909290", "1461 Briarhill Lane", "Abilene", "TX", "79602");'

'INSERT INTO contactInfo2 (id, fname, lname, role, phone, street, city, state, zip)\n           VALUES (5, "Jane", "Evans", "student", "3259909290", "1461 Briarhill Lane", "Abilene", "TX", "79602");'

'INSERT INTO contactInfo2 (id, fname, lname, role, phone, street, city, state, zip)\n           VALUES (6, "Mary", "Raines", "student", "9075772295", "3975 Jerry Toth Drive", "Ninilchik", "AK", "99639");'

'INSERT INTO contactInfo2 (id, fname, lname, role, phone, street, city, state, zip)\n           VALUES (7, "Ed", "Lyman", "student", "5179695576", "3478 Be Sreet", "Lansing", "MI", "48933");'

**Query the Table to Ensure it is populated**

In [55]:
cur.execute("""SELECT * from contactInfo2;
            """).fetchall()

[(0,
  'Christine',
  'Holden',
  'staff',
  '2035687697',
  '1672 Whitman Court',
  'Stamford',
  'CT',
  '06995'),
 (1,
  'Christopher',
  'Warren',
  'student',
  '2175150957',
  '1935 University Hill Road',
  'Champaign',
  'IL',
  '61938'),
 (2,
  'Linda',
  'Jacobson',
  'staff',
  '4049446441',
  '479 Musgrave Street',
  'Atlanta',
  'GA',
  '30303'),
 (3,
  'Andrew',
  'Stepp',
  'student',
  '7866419252',
  '2981 Lamberts Branch Road',
  'Hialeah',
  'Fl',
  '33012'),
 (4,
  'Jane',
  'Evans',
  'student',
  '3259909290',
  '1461 Briarhill Lane',
  'Abilene',
  'TX',
  '79602'),
 (5,
  'Jane',
  'Evans',
  'student',
  '3259909290',
  '1461 Briarhill Lane',
  'Abilene',
  'TX',
  '79602'),
 (6,
  'Mary',
  'Raines',
  'student',
  '9075772295',
  '3975 Jerry Toth Drive',
  'Ninilchik',
  'AK',
  '99639'),
 (7,
  'Ed',
  'Lyman',
  'student',
  '5179695576',
  '3478 Be Sreet',
  'Lansing',
  'MI',
  '48933')]

## Commit Your Changes to the Database

Persist your changes by committing them to the database.

In [56]:
conn.commit()

## Create a Table for Student Grades

Create a new table in the database called "grades". In the table, include the following fields: userId, courseId, grade.

** This problem is a bit more tricky and will require a dual key. (A nuance you have yet to see.)
Here's how to do that:

```SQL
CREATE TABLE table_name(
   column_1 INTEGER NOT NULL,
   column_2 INTEGER NOT NULL,
   ...
   PRIMARY KEY(column_1,column_2,...)
);
```

In [71]:
q = '''CREATE TABLE grades4(
   userId INTEGER NOT NULL,
   courseId INTEGER NOT NULL,
   grade INTEGER,
   PRIMARY KEY(userId,courseId)
);
'''

cur.execute(q).fetchall()

[]

## Remove Duplicate Entries

An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.

In [106]:
q = '''SELECT id, fname, lname, COUNT(fname) FROM contactInfo2 GROUP BY fname, lname HAVING COUNT(fname) > 1'''

cur.execute(q).fetchall()

[(4, 'Jane', 'Evans', 2)]

In [107]:
cur.execute('''DELETE FROM contactInfo2 WHERE id = 4;''')

In [109]:
cur.execute("""SELECT id, fname, lname from contactInfo2;
            """).fetchall()

[(0, 'Christine', 'Holden'),
 (1, 'Christopher', 'Warren'),
 (2, 'Linda', 'Jacobson'),
 (3, 'Andrew', 'Stepp'),
 (5, 'Jane', 'Evans'),
 (6, 'Mary', 'Raines'),
 (7, 'Ed', 'Lyman')]

## Updating an Address

Ed Lyman just moved to `2910 Simpson Avenue York, PA 17403`. Update his address accordingly.

In [95]:
cur.execute('''UPDATE contactInfo2 
                  SET street = "2910 Simpson Avenue",
                  city = "York",
                  state = "PA",
                  zip = "17403"
                  WHERE id = 7;
            ''').fetchall()

[]

In [96]:
cur.execute("""SELECT * from contactInfo2 WHERE id=7;
            """).fetchall()

[(7,
  'Ed',
  'Lyman',
  'student',
  '5179695576',
  '2910 Simpson Avenue',
  'York',
  'PA',
  '17403')]

## Commit Your Changes to the Database

Once again, persist your changes by committing them to the database.

In [110]:
conn.commit()

## Summary

While there's certainly more to do with setting up and managing this database, you got a taste for creating, populating, and maintaining databases! Feel free to continue fleshing out this exercise for more practice.